body{
    text-align:center;
    background-color:lightblue;
  }
  
  #h1{
    text-align:left;
  }
  form{
    background-color:lightgreen
  }
  #title{
    margin:10px
  }
  #Password{
    margin:10px
  }
  button{
    margin:10px;
    color:blue;
     height: 30px;
    width: 20%;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    background-color: yellowgreen;
  }
  h2{
    background-color:lightYellow
  }
  #search{
    width: 30%;
    border: 2px solid gray;
    border-radius: 5px;
  }
   
   